.copyright {
  margin-top: 40px;
}

.copyright__text {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: $color-primary;
}


@media only screen and (max-width: 700px) {
  .copyright{
    text-align: center;
  }
}
