.farm-product {
  padding: 16px 45px;
}

.farm-product__content {
  display: flex;
}

.farm-product__sale-box {
  position: relative;
  z-index: 1;
  margin-right: 32px;
}

.farm-product__img {
  display: block;
  // width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.farm-product__sale {
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 2%;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-secondary;
  padding: 4px 10px;
  background: #F4F8EC;
  border-radius: 12px;

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.farm-product__sale--shop {
  left: 13%;
}

.farm-product__title {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: $color-primary;
  margin-bottom: 8px;
}

.farm-product__star-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}