.product{
  padding: 0 45px;
}
.product-top {
  padding: 16px 0;

}

.product-top__page {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.product-top__type {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-primary;
}

.product-wrapper{
  display: flex;
  padding: 64px 0;
}


