.reting-form__group {
  position: relative;
  width: 125px;
  height: 25px;
  background-image: url("../../img/ic-actions-star.svg");
  background-size: 25px auto;
  background-repeat: repeat-x;
}

.reting-form__input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  background-size: 25px auto;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.reting-form__input:checked,
.reting-form__input:hover {
  background-image: url("../../img/icon-star-on.svg");
}

.reting-form__input:hover ~ .reting-form__input {
  background-image: url("../../img/ic-actions-star.svg");
}

.reting-form__group:focus-within {
  outline: solid 2px #f3f337;
}

.reting-form__input:nth-of-type(1) {
  z-index: 5;
  width: 25px;
}

.reting-form__input:nth-of-type(2) {
  z-index: 4;
  width: 45px;
}

.reting-form__input:nth-of-type(3) {
  z-index: 3;
  width: 65px;
}

.reting-form__input:nth-of-type(4) {
  z-index: 2;
  width: 85px;
}

.reting-form__input:nth-of-type(5) {
  z-index: 1;
  width: 105px;
}

.reting-form__review {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  margin-left: 8px;
}

.reting-form__desc {
  margin: 0;
  font-size: 17px;
  line-height: 23px;
  color: $color-primary;
}